@import url('normalice.css');

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100%;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: inherit;
    /* border: 0; */
}

body{
    font-size: 1.6rem;
    line-height: 1.3;
    max-width: 100vw;
    margin: auto;
}

input,textarea, button{
    outline: none;
}
/* Tools */

.black-bg{
    background-color: #030303;
}

.gray-bg{
    background-color: #1A1A1B;
}

.white-c{
    color: white;
}

.white-bg{
    background-color: white;
}

.blue-c{
    color: #35B7FF;
}

.blue-bg{
  background-color:#35B7FF;
}

.gray-c{
    color: #888B97;
}

.vw100{
    width: 100vw;
}

.post-vw{
    width: 67.5vw;
    /* width: 685px; */
}

.m-auto{
    margin: auto;
}

.hide{
    transform: scaleY(0);
    /* height: 0; */
    /* width: 0; */

}

.height-0{
    height: 0;
}

.bold{
    font-weight: bold;
}

.btn{
    cursor: pointer;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 13px;
    padding: 0.3rem 1.2rem;
}

.black-btn{
    background-color: #030303;
    color: white;
}

.white-btn{
    background-color: white;
    color: #030303;
}

.cancel-btn{
    background-color: crimson;
    color: #030303;
    border: 1px solid #030303;
}

.transition{
    transition: all 0.5s ease-out;
}


/* Header */
.header{
    display: flex;
    padding: 0.5rem;
    height: 4rem;
    justify-content: flex-end;
    align-items: center;
}

.header *{
    margin-right: 1rem;
}

/* BTN-MENU */

.menu-options-container{
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 2rem;
    right: 1rem;
    z-index: 100;
    width: 5rem;
}

.menu-option{
    background-color: #35B7FF;
    padding: 0.5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.opt-4{
    transform: translateY( calc(400% + 40px) );
    z-index: 101;
}

.opt-3{
    transform: translateY( calc(300% + 30px) );
    z-index: 102;
}

.opt-2{
    transform: translateY( calc(200% + 20px) );
    z-index: 103;
}

.opt-1{
    transform: translateY( calc(100% + 10px) );
    z-index: 104;
}

.menu-switch{
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 5rem;
    z-index: 105;
    margin-bottom: 0;
    transform: rotate(45deg);
}
   
.menu-switch.rotate{
    transform: rotate(315deg);
}

/* fade-screen */

.fade-screen{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.fade-screen.show{
    background-color: #00000080;
    z-index: 200;
}

.log-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 55.4rem;
    height: 35.8rem;
    top: calc(50vh - 17.9rem);
    left: calc(50vw - 27.7rem);
    border-radius: 1.3rem;
    padding: 1rem;
    transform: translateY(-200%);
    z-index: 201;
    visibility: hidden;
    
}

.log-form-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.log-form span{
    cursor: pointer;
}

.inputs-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.inputs-container *{
    margin-top: 1rem;
    width: 41.4rem;
    height: 4.8rem;
    border-radius: 1.3rem;
    font-size: 1.8rem;
    padding-left: 1rem;
}

.log-form.show{
    /* display: flex; */
    visibility: visible;
    transform: translateY(0);
}




/* alert msg */

.alert-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    color: white;
    width: 100vw;
    height: 3rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    z-index: 300;
}

.alert-msg.show{
    transform: translateY(20%);
}

.green-alert{
    background-color: chartreuse;
    color: #030303;
}

/* 
.log-btn{
    margin-top: 1rem;
    width: 80%;
}    */


/* .inputs-container {
} */

/* Mobile */
@media only screen and (max-width: 720px) {
    *[data-mobile="none"]{
        display: none;
    }

    .header{
        padding: 2rem 1rem;
    }

    .log-form{
        width: 35.12rem;
        left: calc(50vw - 17.56rem);
    }

    .inputs-container *{
        width: 26.34rem;
    }

}

.display-none{
    display: none;
}






