html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100%;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: inherit;
    /* border: 0; */
}

body{
    font-size: 1.6rem;
    line-height: 1.3;
    max-width: 100vw;
    margin: auto;
}
/* Tools */

.black-bg{
    background-color: #030303;
}

.gray-bg{
    background-color: #1A1A1B;
}

.white-c{
    color: white;
}

.white-bg{
    background-color: white;
}

.blue-c{
    color: #35B7FF;
}

.blue-bg{
  background-color:#35B7FF;
}

.gray-c{
    color: #888B97;
}

.vw100{
    width: 100vw;
}

.post-vw{
    width: 67.5vw;
    /* width: 685px; */
}

.m-auto{
    margin: auto;
}

.hide{
    transform: scale(0,0);
    /* height: 0; */
    /* width: 0; */

}

.height-0{
    height: 0;
}

.bold{
    font-weight: bold;
}

.btn{
    cursor: pointer;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 30px;
    padding: 0.3rem 1.2rem;
}

.black-btn{
    background-color: #030303;
    color: white;
}

.white-btn{
    background-color: white;
    color: #030303;
}

.cancel-btn{
    background-color: crimson;
    color: #030303;
    border: 1px solid #030303;
}

.btn{
    cursor: pointer;
}

.transition{
    transition: all 0.5s ease-out;
}


/* Header */
.header{
    display: flex;
    padding: 0.5rem;
    height: 4rem;
    justify-content: flex-end;
    align-items: center;
}

.header *{
    margin-right: 1rem;
}

/* BTN-MENU */

.menu-options-container{
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 2rem;
    right: 1rem;
    z-index: 100;
    width: 5rem;
}

.menu-option{
    background-color: #35B7FF;
    padding: 0.5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.opt-4{
    transform: translateY( calc(400% + 40px) );
    z-index: 101;
}

.opt-3{
    transform: translateY( calc(300% + 30px) );
    z-index: 102;
}

.opt-2{
    transform: translateY( calc(200% + 20px) );
    z-index: 103;
}

.opt-1{
    transform: translateY( calc(100% + 10px) );
    z-index: 104;
}

.menu-switch{
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 5rem;
    z-index: 105;
    margin-bottom: 0;
}

.menu-switch div{
    background-color: white;
    margin: auto;
}

.menu-switch-line-1{
    height: 4rem;
    width:  0.5rem;
    transform: translateY(0.5vw);
}

.menu-switch-line-2{
    width: 4rem;
    height:  0.55rem;
    transform: translateY(-1.625rem);
}

.menu-switch.rotate{
    transform: rotate(315deg);
}

/* fade-screen */

.fade-screen{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 200vh;
    background-color: #1e1e1f80;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateY(-100%);
}

.fade-screen.up{
    transform: translateY(-50%);
}

.fade-screen.in{
    transform: translateY(0);
}

.log-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 35rem;
    height: 30rem;
    border-radius: 1rem;
    padding: 1rem;
}

.log-form-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.log-form span{
    cursor: pointer;
}

.inputs-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.inputs-container *{
    margin-top: 1rem;
    width: 80%;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}
.log-check{
    margin-left: 10%;
}

/* 
.log-btn{
    margin-top: 1rem;
    width: 80%;
}    */


/* .inputs-container {
} */

/* Mobile */
@media only screen and (max-width: 720px) {
    *[data-mobile="none"]{
        display: none;
    }

    .header{
        padding: 2rem 1rem;
    }
}






